.App{
	text-align: center;
	background-color: grey;
}
.cards{
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 50px;
}
.card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	border-radius: 40px;
	overflow: hidden;
	background-color: #000;
	color: grey;
}
input{
	width: 250px;
	height: 40px;
	margin: 30px;
	border: none;
	border-bottom: 1px solid black;
	color: #000;
	cursor: pointer;
	transition: 1s;
	background-color: grey;
}
input:hover{
	border: none;
	border-bottom: 1px solid blue;
	transition: 1s;

}